In [2]:
import pandas as pd

In [3]:
urban_data = pd.read_csv('C:/Users/HP/OneDrive/Documents/GitHub/ICW20230777/urban-development_lka.csv')
urban_data

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+value+num
1,Sri Lanka,LKA,2015,Urban land area where elevation is below 5 met...,AG.LND.EL5M.UR.K2,276.928623
2,Sri Lanka,LKA,2000,Urban land area where elevation is below 5 met...,AG.LND.EL5M.UR.K2,268.672784
3,Sri Lanka,LKA,1990,Urban land area where elevation is below 5 met...,AG.LND.EL5M.UR.K2,247.8605941
4,Sri Lanka,LKA,2015,Urban land area where elevation is below 5 met...,AG.LND.EL5M.UR.ZS,0.425952534
...,...,...,...,...,...,...
475,Sri Lanka,LKA,1964,Urban population (% of total population),SP.URB.TOTL.IN.ZS,17.014
476,Sri Lanka,LKA,1963,Urban population (% of total population),SP.URB.TOTL.IN.ZS,16.916
477,Sri Lanka,LKA,1962,Urban population (% of total population),SP.URB.TOTL.IN.ZS,16.753
478,Sri Lanka,LKA,1961,Urban population (% of total population),SP.URB.TOTL.IN.ZS,16.592
479,Sri Lanka,LKA,1960,Urban population (% of total population),SP.URB.TOTL.IN.ZS,16.431

In [4]:
urban_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    480 non-null    object
 1   Country ISO3    480 non-null    object
 2   Year            480 non-null    object
 3   Indicator Name  480 non-null    object
 4   Indicator Code  480 non-null    object
 5   Value           480 non-null    object
dtypes: object(6)
memory usage: 22.6+ KB

In [5]:
# Remove the row containing '#date+year' in the 'Year' column
urban_data = urban_data[urban_data['Year'] != '#date+year']

# Now convert the 'Year' column to integers
urban_data['Year'] = urban_data['Year'].astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_16988\1899399704.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  urban_data['Year'] = urban_data['Year'].astype(int)

In [6]:
urban_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 479 entries, 1 to 479
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    479 non-null    object
 1   Country ISO3    479 non-null    object
 2   Year            479 non-null    int64
 3   Indicator Name  479 non-null    object
 4   Indicator Code  479 non-null    object
 5   Value           479 non-null    object
dtypes: int64(1), object(5)
memory usage: 26.2+ KB

In [8]:
#converting the 'value' column into float
urban_data['Value'] = urban_data['Value'].astype(float)

C:\Users\HP\AppData\Local\Temp\ipykernel_16988\1541246027.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  urban_data['Value'] = urban_data['Value'].astype(float)

In [9]:
urban_data['Value'] = pd.to_numeric(urban_data['Value'], errors='coerce')

C:\Users\HP\AppData\Local\Temp\ipykernel_16988\3305910112.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  urban_data['Value'] = pd.to_numeric(urban_data['Value'], errors='coerce')

In [10]:
urban_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 479 entries, 1 to 479
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    479 non-null    object
 1   Country ISO3    479 non-null    object
 2   Year            479 non-null    int64
 3   Indicator Name  479 non-null    object
 4   Indicator Code  479 non-null    object
 5   Value           479 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 26.2+ KB

In [11]:
#missing values
urban_data.isnull().sum()

Country Name      0
Country ISO3      0
Year              0
Indicator Name    0
Indicator Code    0
Value             0
dtype: int64